<mat-toolbar color="primary" class="mat-typography mat-app-background">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item><mat-icon>home</mat-icon>Home</button>
    <button mat-menu-item><mat-icon>email</mat-icon>Contact</button>
    <!-- <button mat-menu-item (click)="goToToDo()">
        <mat-icon>whatshot</mat-icon>ToDo's
      </button>
      <button mat-menu-item (click)="goMessages()">
        <mat-icon>sms</mat-icon>Messages
      </button> -->

    <!-- <div *ngIf="showSignOut">
        <button mat-menu-item (click)="signOut()">
          <mat-icon>subdirectory_arrow_left</mat-icon>Sign Out
        </button>
      </div> -->
  </mat-menu>
  <span class="title">D//A</span>
</mat-toolbar>
